# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Power BI temporary files
*.tmp

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Validation outputs
data/validation/*
!data/validation/.gitkeep

# Local database outputs
data/database/*
!data/database/.gitkeep